@import "src/app/shared/shared.scss";

.page-container {
    background-image: url("/assets/images/bg3.jpg");

    .page-content {
        justify-content: space-evenly;
        padding: 50px;
        max-width: 500px;
        min-height: 500px;
        max-height: 700px;
        height: 60%;
        background-color: rgba(255, 255, 255, 0.9);

        .title {
            flex-grow: 2;
            display: flex;
            align-items: center;
            padding-top: 50px;

            line-height: 55px;
            font-size: 4.5em;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.75);
            font-family: Poppins;
        }

        .contact-form {
            flex-grow: 3;
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            gap: 6px;

            textarea {
                resize: none;
            }

            .send-button {
                align-self: center;
                height: 40px;
                width: 60%;
            }
        }
    }
}
