<mat-toolbar color="accent">
  <div class="brand">
    <img src="assets\images\trohpy.png" alt="logo" class="logo">
    <span><strong>F1</strong>.Results</span>
  </div>
  <div class="navigation">
    <a mat-button routerLink="/results" routerLinkActive="active">Results</a>
    <a mat-button routerLink="/winners" routerLinkActive="active">Winners</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>